/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/bootstrap/cache
# Ignore everything inside assets, but not the folder itself
/public/assets/*

# Re-allow the common folder
!/public/assets/common/

# Re-allow everything inside common
!/public/assets/common/**

# Ignore extensions installed locally. Re-allow the ones that ship with the app.
/extensions/Gateways/*
/extensions/Modules/*
/extensions/Servers/*

!/extensions/Modules/.gitignore

!/extensions/Gateways/Balance/
!/extensions/Gateways/Balance/**
!/extensions/Gateways/PayPalBusiness/
!/extensions/Gateways/PayPalBusiness/**
!/extensions/Gateways/PayPalSimple/
!/extensions/Gateways/PayPalSimple/**
!/extensions/Gateways/PayPalSubscription/
!/extensions/Gateways/PayPalSubscription/**
!/extensions/Gateways/Sandbox/
!/extensions/Gateways/Sandbox/**
!/extensions/Gateways/SandboxSubscription/
!/extensions/Gateways/SandboxSubscription/**
!/extensions/Gateways/StripeCheckout/
!/extensions/Gateways/StripeCheckout/**

!/extensions/Servers/Universal/
!/extensions/Servers/Universal/**
