/.phpunit.cache
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/bootstrap/cache
# Ignore everything inside assets, but not the folder itself
/public/assets/*

# Re-allow the common folder
!/public/assets/common/

# Re-allow everything inside common
!/public/assets/common/**

# Ignore extensions installed on local dev
/extensions/Modules/Tickets
/extensions/Servers/Proxmox
/extensions/Servers/Pterodactyl
/extensions/Gateways/TebexCheckout
/extensions/Servers/Cpanel
/extensions/Gateways/MollieCheckout
/extensions/Modules/Downloads
/extensions/Servers/DirectAdmin
